<!DOCTYPE html>
<html lang="en" class="html">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - P2P</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    {% block page_links %} {% endblock %}
    {% endblock %}
</head>
<body class="body">
{% include 'navbar.html' %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<div id="content" class="container">
    {% block content %}{% endblock %}
</div>
<div id="footer">
    <p><b>CFG P2P Lending project - 2022</b></p>
    {% block footer %}
    {% endblock %}
</div>
</body>

</html>

<meta name="viewport" content="device-width, initial-scale=1.0">