{% extends "base.html" %}
{% block page_links %}
<!--<link rel="stylesheet" href="/static/css/index.css"/>-->
{% endblock %}
{% block title %}CFG{% endblock %}
{% block content %}
<h2>Fear and Greed Index</h2>
<div class="container">
{% include 'graph.html' %}

<div class="container2">
        <table class="table">
            <thead>
            <tr class="table__header">
                <th>Previous Close</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="table__row">
                <td>{{prevclose_rating}}</td>
                <td class="table__cell2">{{prevclose_score}}</td>
            </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
            <tr class="table__header">
                <th>One Week Ago</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="table__row">
                <td>{{oneweek_rating}}</td>
                <td class="table__cell2">{{oneweek_score}}</td>
            </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
            <tr class="table__header">
                <th>One Month Ago</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="table__row">
                <td>{{onemonth_rating}}</td>
                <td class="table__cell2">{{onemonth_score}}</td>
            </tr>
            </tbody>
        </table>
        <table class="table">

            <thead>
            <tr class="table__header">
                <th>One Year Ago</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{oneyear_rating}}</td>
                <td class="table__cell2">{{oneyear_score}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div><h3>What is the Fear and Greed Index?</h3>
    <p>
        Euphoria and panic are the two main emotional states of the market. Both are mainly responsible for causing volatility in the world’s stock markets. The Fear And Greed Index is produced by CNN Money, the economics division of American news network CNN. The score can vary between 0 and 100. The closer to 100, the more <b>greedy</b> the behavior of investors, according to the interpretation of the creators of the index. Conversely, the closer to 0, the more <b>fear</b> in the market. A score of 10 or less is considered <b>extreme fear</b>.
    <p>
        We believe in supporting the sustainability and self-management of local communities.  We want to empower people to invest in each other, and avoid using the banks whose interest rates and decision-making processes are driven by the fear and greed dynamics of the stock market.
    <h3>Support your local community. Choose Lendr.</h3>
    <br>
    <br>
        <a href="https://edition.cnn.com/markets/fear-and-greed#fng-faq">Learn more about the index...</a>


</div>

{% endblock %}