{% extends "base.html" %}
{% block title %}My Account{% endblock %}

{% block content %}
<h1>{{first_name}} {{last_name}}'s Account</h1>
<div class="row">
    <div id="orders" class="col-sm-5">
        <h2>My Orders</h2>
        <table class="table table-striped">

            <thead>
            <tr class="table__header">
                <th>ID</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Interest Rate</th>
                <th>Cancel</th>
            </tr>
            </thead>

            <tbody>
            {% for order in orders %}
            <form method="POST" action="/delete-order" onsubmit="location.reload(true)">
                <tr>
                    <input type = "hidden" name = "id" value = "{{order.id}}" />
                    <td>{{order.id}}</td>
                    <td>{{order.order_type}}</td>
                    <td>£{{order.amount}}</td>
                    <td>{{order.interest_rate}}%</td>

                    <td><button><i class="fa fa-close" style="font-size:24px;color:red"></i></button></td>
                </tr>
            </form>
            {% endfor %}

            </tbody>
        </table>
    </div>

    <div id="contract" class="col-sm-5 offset-sm-2">
        <h2>My Contracts</h2>
        <table class="table table-striped">

            <thead>
            <tr class="table__header">
                <th>ID</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Interest Rate</th>
                <th>Date Created</th>
            </tr>
            </thead>

            <tbody>
            {% for contract in contracts %}
            <tr>
                <td>{{contract.id}}</td>
                <td>{{contract.type}}</td>
                <td>£{{contract.amount}}</td>
                <td>{{contract.interest_rate}}%</td>
                <td>{{contract.date_created}}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}
