{% extends "base.html" %}
{% block title %}My Account{% endblock %}

{% block content %}
<h1>{{first_name}} {{last_name}}'s Account</h1>
<div id="orders" class="row">
    <h2>My Orders</h2>
    <table class="table table-striped">

        <thead>
        <tr class="table__header">
            {% for header in headers %}
            <th class="table__cell">{{header}}</th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for row in orders %}
        <tr class="table__row">
            {% for cell in row %}
            <td class="table__cell">{{cell}}</td>
            {% endfor %}
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

<div class="row">
    <div id="contract" class="row">
        <h2>My Contracts</h2>
        <table class="table table-striped">

            <thead>
            <tr class="table__header">
                <th>ID</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Interest Rate</th>
                <th>Date Created</th>
            </tr>
            </thead>

            <tbody>
            {% for contract in contracts %}
            <tr>
                <td>{{contract.id}}</td>
                <td>{{contract.type}}</td>
                <td>£{{contract.amount}}</td>
                <td>{{contract.interest_rate}}%</td>
                <td>{{contract.date_created}}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

</div>
{% endblock %}
