{% extends "base.html" %}
{% block page_links %}
<!--<link rel="stylesheet" href="/static/css/index.css"/>-->
{% endblock %}
{% block title %}Sign up{% endblock %}
{% block content %}
<div class="column is-4 is-offset-4">
    <h1>Sign Up</h1>
    <div class="box">
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="first_name" placeholder="First Name" autofocus=""
                           required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="last_name" placeholder="Last Name" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password" required>
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}
